doctype html
html
  head
    title= title
    script(src='/highcharts/jquery.min.js')
    script(src='/highcharts/highcharts.js')
    script(src='/highcharts/exporting.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
