extends layout



block content


    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        // Modal content
        .modal-content.panel-primary
          .modal-header.panel-heading
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Agregar Item
          .modal-body

            form#addform(method='post' action="javascript:guardar()")
                .form-group
                    label(for='tipo') Tipo del evento:
                    select#tipo.form-control(onchange='cambioselect("tipo","tran1","tran2")', required)
                        option(value="") -- Select Type --
                        each value, key in types
                            option(value="#{key}") #{key}


                .form-group
                    label(for='nombre') Nombre del evento:
                    input#nombre.form-control(name='nombre', required, data-error='Please fill this field...', type="text", value='')

                .form-group
                    label(for='tran1') Las transiciones In disponibles son:
                    select#tran1.form-control
                        option

                .form-group
                    label(for='tran2') Las transiciones Out disponibles son:
                    select#tran2.form-control
                        option

                .form-group
                    label(for='start') Seleccione el inicio del evento:
                    input#start.form-control(type="number", name="start", value="", required, min="0")

                .form-group
                    label(for='end') Seleccione el fin del evento:
                    input#end.form-control(type="number", name="end", value="", required, min="1")
                

                .form-group
                    button.btn.btn-primary.pull-right.botoncito(type='submit') Guardar

                .modal-footer




     #myUpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        // Modal content
        .modal-content.panel-primary
          .modal-header.panel-heading
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Modificar Item
          .modal-body

            form#upform(method='post' action="javascript:changeItem()")

                input#tipoUp(onchange='cambioselect("tipoUp","tran1Up","tran2Up")', type="hidden", required)

                h5
                    span El tipo del evento es: 
                    
                    span#tipoUp1(onchange='cambioselect("tipoUp","tran1Up","tran2Up")', required)

                .form-group
                    label(for='nombreUp') Nombre del evento:
                    input#nombreUp.form-control(required, data-error='Please fill this field...', type="text", value='')

                .form-group
                    label(for='startUp') Seleccione el inicio del evento:
                    input#startUp.form-control(type="number",name="startUp",value="", required, min="1")
                
                .form-group
                    label(for='endUp') Seleccione el fin del evento:
                    input#endUp.form-control(type="number",name="endUp",value="", required, min="1")


                .form-group
                    label(for='tran1Up') Transición In:
                    select#tran1Up.form-control
                        option

                .form-group
                    label(for='tran2Up') Transición Out:
                    select#tran2Up.form-control
                        option
                .form-group
                    button.btn.btn-primary.pull-right.botoncito(type='submit') Actualizar

                .modal-footer


    .jumbotron
        .container
                h1 Event Timeline
                p Click sobre la linea para agregar nuevos eventos
    .container.in-line

        select#selectJson.selectpicker
            option(value="") -- Select Json to Load --
                for item in archivos
                    option #{item}

        button.btn.btn-primary(type="button", onclick='loadData()') ↓ Load

        input#jsonName(type="text", name="jsonName",value="", placeholder="nombre del archivo")

        button.btn.btn-primary(type="button", onclick='saveData()') ↑ Save
        #visualization.top        
        #log
        .panel.panel-default.pany
            .panel-heading Mini Tips
            .panel-body
                p Seleccione el archivo que desea cargar y presione Load
                p Para guardar los cambios realizados, presione Save
                p Renombre sus archivos seleccionándolo y modificando el campo "nombre del archivo", luego presione Save
                p Si no se selecciona ningún archivo, escriba un nombre y presione Save, se creará uno nuevo con el nombre especificado
        script(src='scripts/buildLine.js') 