extends layout



block content

    #myModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Agregar Item
          .modal-body

            p agregar cosa
            input#start(type="hidden" name="start" value="#{start}")
            input#end(type="hidden" name="end" value="#{end}")
            
            input#nombre(required='required', data-error='Please fill this field...', type="text", value='')

            p de que tipo?
            select#tipo(onchange='cambioselect()')
                option(value="") -- Select Type --
                each value, key in result

                    option(value="#{key}") #{key}
            
            br
            p Las transiciones disponibles son:


            select#tran1

                option
            br
            select#tran2

                option

          .modal-footer
            button.btn.btn-default(type='button', onclick='guardar()') Guardar
    

    .jumbotron
        .container
            h1 Look at these timelines!
            p model
    .container
        .buttons
            input(#load type="button", value='↓ Load', onclick='loadData()')
            input(#save type="button", value='↑ Save', onclick='saveData()')
        #visualization        
        #log
        script(src='scripts/callback.js') 