extends layout

block content
  #heading.jumbotron
    #otro.container
      p ezta es una app re cheta
  h1 OLAKTAL
  #temporales
  h1 OLA AK TO2 BIEN
  #simples
    script.
      var containerSimple = document.getElementById('simples');
      var data = [
        {id: 1, content: 'item 1', start: '2013-04-20'},
        {id: 2, content: 'item 2', start: '2013-04-14'},
        {id: 3, content: 'item 3', start: '2013-04-18'},
        {id: 4, content: 'item 4', start: '2013-04-16', end: '2013-04-19'},
        {id: 5, content: 'item 5', start: '2013-04-25'},
        {id: 6, content: 'item 6', start: '2013-04-27'}
      ];
      var options = {
      hiddenDates: [
            {start: '2014-03-21 00:00:00', end: '2014-03-28 00:00:00'},
            {start: '2013-10-26 00:00:00', end: '2013-10-28 00:00:00', repeat: 'weekly'}, // daily weekly monthly yearly
            {start: '2013-03-29 20:00:00', end: '2013-03-30 09:00:00', repeat: 'daily'} // daily weekly monthly yearly
        ],
        start: '2013-04-17',
        end: '2013-05-01',
        height: '200px',
        editable: true
      };
      var timeline = new vis.Timeline(containerSimple, data, options);
      timeline.addCustomTime("2013-04-18 13:00:00");

      var containerTemp = document.getElementById('temporales');
      var data = [
        {id: 1, content: 'item 1', start: '2013-04-20'},
        {id: 2, content: 'item 2', start: '2013-04-14'},
        {id: 3, content: 'item 3', start: '2013-04-18'},
        {id: 4, content: 'item 4', start: '2013-04-16', end: '2013-04-19'},
        {id: 5, content: 'item 5', start: '2013-04-25'},
        {id: 6, content: 'item 6', start: '2013-04-27'}
      ];
      
      var timeline2 = new vis.Timeline(containerTemp, data, options);
      timeline.addCustomTime("2013-04-18 13:00:00");
        timeline2.on('rangechange', function (properties) {
              onrangechange2();
              logEvent('select', properties);
            });
            timeline2.on('rangechanged', function (properties) {
              onrangechange2();
              logEvent('select', properties);

            });
            timeline2.on('select', function (properties) {
              onrangechange2();
              logEvent('select', properties);
            });
         function onrangechange1() {
            var range = timeline1.getWindow();
            timeline2.setWindow(range.start, range.end);
        }

        function onrangechange2() {
            var range = timeline2.getWindow();
            timeline1.setWindow(range.start, range.end);
        }