extends layout



block content


    button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Agregar item


        // Modal
    #myModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Agregar Item
          .modal-body
            p agregar cosa
            input(type="text", value='ola')
            p agregar otra cosa
            input(type="text", value='ktal')
            p de que tipo?
            select
              option(value='logo') Logo
              option(value='ticket') Ticket

          .modal-footer
            button.btn.btn-default(type='submit') Aceptar
            button.btn.btn-default(type='button', data-dismiss='modal') Cerrar

    .jumbotron
        .container
            h1 Look at these timelines!
            p model
    .container
        .buttons
            input(#load type="button", value='↓ Load', onclick='loadData()')
            input(#save type="button", value='↑ Save', onclick='saveData()')
        #visualization        
        #log