extends layout

block content
    .jumbotron
        .container
            h1 Look at these timelines!
            p model
    .container
        .buttons
            input(#load type="button", value='↓ Load', onclick='loadData()')
            input(#save type="button", value='↑ Save', onclick='saveData()')        
        #visualization        
        #log
        script(src='scripts/callback.js') 
    