extends layout



block content

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        // Modal content
        .modal-content.panel-primary
          .modal-header.panel-heading
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Agregar Item
          .modal-body

            form#addform(method='post' action="javascript:guardar()")
                .form-group
                    label(for='tipo') Tipo del evento:
                    select#tipo.form-control(onchange='cambioselect("tipo","tran1","tran2")', required)
                        option(value="") -- Select Type --
                        each value, key in result
                            option(value="#{key}") #{key}


                .form-group
                    label(for='nombre') Nombre del evento:
                    input#nombre.form-control(name='nombre', required, data-error='Please fill this field...', type="text", value='')

                .form-group
                    label(for='tran1') Las transiciones In disponibles son:
                    select#tran1.form-control
                        option

                .form-group
                    label(for='tran2') Las transiciones Out disponibles son:
                    select#tran2.form-control
                        option

                .form-group
                    label(for='start') Seleccione el inicio del evento:
                    input#start.form-control(type="number", name="start", value="", required, min="1")

                .form-group
                    label(for='end') Seleccione el fin del evento:
                    input#end.form-control(type="number", name="end", value="", required, min="1")
                

                .form-group
                    button.btn.btn-primary(type='submit') Guardar



     #myUpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        // Modal content
        .modal-content.panel-primary
          .modal-header.panel-heading
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Modificar Item
          .modal-body

            form#upform(method='post' action="javascript:changeItem()")

                input#tipoUp(onchange='cambioselect("tipoUp","tran1Up","tran2Up")', type="hidden", required)

                h5
                    span El tipo del evento es: 
                    
                    span#tipoUp1(onchange='cambioselect("tipoUp","tran1Up","tran2Up")', required)

                .form-group
                    label(for='nombreUp') Nombre del evento:
                    input#nombreUp.form-control(required, data-error='Please fill this field...', type="text", value='')

                .form-group
                    label(for='startUp') Seleccione el inicio del evento:
                    input#startUp.form-control(type="number",name="start",value="", required, min="1")
                
                .form-group
                    label(for='endUp') Seleccione el fin del evento:
                    input#endUp.form-control(type="number",name="end",value="", required, min="1")


                .form-group
                    label(for='tran1Up') Transición In:
                    select#tran1Up.form-control
                        option

                .form-group
                    label(for='tran2Up') Transición Out:
                    select#tran2Up.form-control
                        option
                .form-group
                    button.btn.btn-primary(type='submit') Actualizar


    .jumbotron
        .container
                h1 Event Timeline
                p Click sobre la linea para agregar nuevos eventos
    .container
        .btn-group
            button.btn.btn-primary(type="button", onclick='loadData()') ↓ Load
            button.btn.btn-primary(type="button", onclick='saveData()') ↑ Save
        #visualization.top        
        #log
        .panel.panel-default.pany
            .panel-heading Mini Tips
            .panel-body
                p Para guardar los eventos, presione Save
                p Para cargar los eventos guardados, presione Load
        script(src='scripts/callback.js') 