extends layout



block content

    #myModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Agregar Item
          .modal-body

            p agregar cosa
            input(type="text", value='ola')
            p agregar otra cosa
            input(type="text", value='ktal')
            p de que tipo?
            select#tipo(onchange='cambioselect()')
                each value, key in result

                    option(value="#{key}") #{key}
            
            p Las transiciones disponibles son:
            select#city

                option

                //- each value, key in trans

                //-     each v, k in value


                //-         option(value="#{v}") #{v}
                      

          .modal-footer
            button.btn.btn-default(type='button', onclick='guardar()') Guardar
    

    .jumbotron
        .container
            h1 Look at these timelines!
            p model
    .container
        .buttons
            input(#load type="button", value='↓ Load', onclick='loadData()')
            input(#save type="button", value='↑ Save', onclick='saveData()')
        #visualization        
        #log
        script(src='scripts/callback.js') 