html
  head
    title= title


    script(src='/highchartsDeMentira/jquery.min.js')
    script(src='/highchartsDeMentira/highcharts.js')
    script(src='/highchartsDeMentira/exporting.js')

    script(src='/vis/dist/vis.js')        
    link(rel="stylesheet", href="/vis/dist/vis.css", type="text/css")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css", type="text/css")
  body
    block content
