html
  head
    title= title
    script(src='/vis/dist/vis.js')        
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css", type="text/css")
    script(src='/scripts/jquery-3.1.1.min.js')
    script(src='/Timeline/jsapi')
    script(src='/Timeline/timeline.js')      
    link(rel="stylesheet", href="/Timeline/timeline.css", type="text/css")
    script(src='scripts/synchronized.js')
    script(src='Timeline/a')
    script(src='Timeline/formatendefaulten.js')  
    script(src='/Timeline/sweetalert.js')      
    link(rel="stylesheet", href="/Timeline/sweetalert.css", type="text/css")
    link(rel="stylesheet", href="Timeline/vis-timeline-graph2d.css", type="text/css")
    script(type='text/javascript' src='funciones.js')         
  body
    block content
