html
  head
    title= title

    


    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')



    script(src='/vis/dist/vis.js')        
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css", type="text/css")
    script(src='/scripts/jquery-3.1.1.min.js')



    script(src='/Timeline/jsapi')
    script(src='/Timeline/timeline.js')      
    link(rel="stylesheet", href="/Timeline/timeline.css", type="text/css")
 
    script(src='/Timeline/sweetalert.js')      
    link(rel="stylesheet", href="/Timeline/sweetalert.css", type="text/css")
    link(rel="stylesheet", href="Timeline/vis-timeline-graph2d.css", type="text/css")


    link(rel='stylesheet', href='/stylesheets/style.css')

    //- validator bootstrap

    

    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js')
    script(src='/scripts/validator.js')


    //- select para json

    //- Latest compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css')
    //- Latest compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js')

    
  body
    block content
