html
  head
    title= title


    script(src='/highchartsDeMentira/jquery.min.js')
    script(src='/highchartsDeMentira/highcharts.js')
    script(src='/highchartsDeMentira/exporting.js')

    script(src='/vis/dist/vis.js')        
    link(rel="stylesheet", href="/vis/dist/vis.css", type="text/css")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css", type="text/css")

    script(src='/Timeline/jsapi')
    script(src='/Timeline/timeline.js')      
    link(rel="stylesheet", href="/Timeline/timeline.css", type="text/css")
    script(src='scripts/synchronized.js')
    script(src='Timeline/a')
    script(src='Timeline/formatendefaulten.js')           
  body
    block content
