<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Timeline | Manipulation callbacks</title>

  <style type="text/css">
    body, html {
      font-family: sans-serif;
      font-size: 11pt;
    }
  </style>

  <script src="Timeline/sweetalert.js"></script>
  <link href="Timeline/sweetalert.css" rel="stylesheet" type="text/css">
  <script src="/vis/dist/vis.js"></script>
  <script src="/vis/dist/vis.js"></script>
  <link href="Timeline/vis-timeline-graph2d.css" rel="stylesheet" type="text/css">
  
</head>
<body class="">


<div id="visualization">
</div>
<p></p>
<div id="log"></div>
<script src="scripts/callback.js"></script>

</body>
</html>