extends layout

block content
    .jumbotron
        .container
            h1 Look at these timelines!
            p synchronized
    .container
        input(type='button', value='Save', onclick='saveData1()')
        #timeline1
        br
        input(type='button', value='Save', onclick='saveData2()')
        #timeline2        
