/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

.top { margin-top:10px; }

.pany{ margin-top: 20px; }

.jumbotron {
    background-color:rgb(213, 221, 246) !important; 
}

.botoncito{
	margin-top: 25px;
}

.in-line > * {
    margin:15px 3px !important;
}