/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

.top { margin-top:10px; }

.jumbotron {
    background-color:rgb(213, 221, 246) !important; 
}