html
  head
    title= title
    script(src='/javascripts/vis.js')        
    link(rel="stylesheet", href="/javascripts/vis.css", type="text/css")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css", type="text/css")
  body
    block content
